/* Quita márgenes del cuerpo para evitar espacio extra */
body {
    margin: 0;
    overflow: hidden; /* Evita la aparición de barras de desplazamiento */
}

/* Elimina el espacio extra alrededor del canvas, mejorando el diseño */
canvas {
    display: block;
}

body {
    margin: 0;
    height: 200vh; /* Simular una página larga */
    overflow-y: scroll;
    background: radial-gradient(#000, #001d3d);
    color: white;
}

#content {
    position: absolute;
    top: 100vh;
    text-align: center;
    width: 100%;
    color: white;
}

h1, p {
    font-family: Arial, sans-serif;
}
